*{
margin:0;
padding: 0;
box-sizing: border-box;
}

body{
background-color: #141414;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: white;
display: flex;
align-content: center;
justify-content: center;
align-items: center;
min-height: 100vh;
}


.Card-Details{
background-color: #262626;
padding: 2rem;
border-radius: 15px;
text-align: center;
width: 100%;
max-width: 360px;
margin:0.7rem

}

.Photo-jessica{
width: 100px;
height: 100px;
object-fit: cover;
margin-bottom: 1rem;
border-radius: 50%;
}

.Place{
color: hsl(75, 94%, 57%);
font-weight: bold;
margin-bottom: 1rem;
}

.role{
margin-bottom: 1.5rem;;
}

.social-medias{
display: flex;
flex-direction: column;
gap: 0.75rem;
}

#link{
color: white;
font-weight: bold;
text-decoration: none; 
 padding:0.60rem;
 border-radius: 10px;
background-color: #333;
}

#link:hover{
background-color:hsl(75, 94%, 57%);
color: #141414;
}

#link:active{
color: #141414;
}
